<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.htm" />
                <remove value="Default.asp" />
                <add value="index.asp" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <remove fileExtension=".config" />
                    <remove fileExtension=".cs" />
                    <remove fileExtension=".resources" />
                    <remove fileExtension=".rules" />
                    <remove fileExtension=".exclude" />
                    <remove fileExtension=".compiled" />
                    <remove fileExtension=".java" />
                    <remove fileExtension=".vbproj" />
                    <remove fileExtension=".csproj" />
                    <remove fileExtension=".vb" />
                    <remove fileExtension=".sitemap" />
                    <remove fileExtension=".browser" />
                    <remove fileExtension=".skin" />
                    <remove fileExtension=".master" />
                    <remove fileExtension=".ascx" />
                    <remove fileExtension=".asax" />
                    <remove fileExtension=".asa" />
                </fileExtensions>
                <hiddenSegments>
                    <add segment="inc" />
                </hiddenSegments>
            </requestFiltering>
        </security>
        <httpProtocol>
            <customHeaders>
                <add name="Strict-Transport-Security" value="max-age=31536000" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
